body {
    background-color: grey;
    margin: 0;
}

.header {
    border-bottom: 2px solid red;
    background-color: aqua;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}

.navbar {
    display: flex;
    padding: 0;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.agora {
    font-weight: bold;
}